/*Fonte Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap'); /*font-family: 'Inder', sans-serif;*/
/*variaveis*/
:root {
    --onRoxo: #8C52FF;  
  }
/*height:923px*/
/**/
body{
  background-color: var(--onRoxo);
  font-family: 'Inder', sans-serif;
  color: white;
}

/*LOGO E DESCRICAO*/
.container .logo{
  float: left; /*MANTEM ESSE CONTAINER NA ESQUERDA DA TELA E CANCELA QUEBRA DE LINHA AUTOMATICA*/

  position: fixed;
  top: 75px;
  left: 150px;

  height: 200px;
  width: auto;
}

.container .logo figcaption{
  font-size: 22px;
}
.container .logo p{
  font-size: 18px;
}

/*BOX CADASTRO*/
.container .box-cadastro{
  margin: 160px  auto;
  width:20%; 
  padding-left:320px;
  padding-top: 40px;
  }
  /*inputs*/
  .container .box-cadastro form{
    font-size: 25px;
  }
  .container .box-cadastro form input{
    font-size: 25px;
    border-radius: 10px;
    border: 0;
    /*tamanho*/
    width: 500px;
    padding: 8px;

    /*animação*/
    transition: width 0.4s ease-in-out;
  }
  .container .box-cadastro form input:focus{ /*estilo quando input esta selecionado*/
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    width: 600px;
    padding: 10px;
  }
  /*botao*/
  .container .box-cadastro form button{
    font-size: 25px;
    font-weight: bold;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 0.3px solid;
    background-color: white;
    /*posição*/
    margin-top: 25px;
    margin-left: 110px;
  }
  .container .box-cadastro form button:hover{
    box-shadow: inset -1px 3px 8px 5px #cccccc, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;
  }

  /*link para login*/
  .container .box-cadastro a{
    color: aqua;
    font-size: 18px;
    margin-left: 170px; 
  }
  .container .box-cadastro a:hover{
    color: aquamarine;
  }



